@import 'tailwindcss';

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .wrapper {
        min-height: 100vh;
    }
}

@layer components {
    .primary-btn {
        min-height: 3rem;
        width: 100%;
        cursor: pointer;
        border: 2px solid black;
        background-color: black;
        font: normal 1.125rem Arial;
        color: white;
    }

    .primary-btn:hover {
        background-color: white;
        color: black
    }
}